.avatar {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border:10px solid rgb(32, 185, 147);
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  box-shadow: 0px 0px 120px rgb(87, 255, 157);
  position: absolute;
  left: 10%;
}

.setting-hello {
  font-size: 40px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 0px 0px 10px  rgb(255, 255, 255);
  position: absolute;
  left: 28%;
  top: 17%;
}

.setting-name {
    font-size: 40px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 10px  rgb(255, 255, 255);
    position: absolute;
    left: 28%;
    top: 26%;
}

.input-select-avatar {
  position: absolute;
  text-align-last: center;
  outline:none;
  color: rgb(255, 255, 255);
  background-color: rgba(21, 68, 62, 0.534);
  border-radius: 10px;
  border: none;
  transition: .8s;
  padding: 5px 5px;
  font-family: 'Fjalla One', sans-serif;
  left: 14%;
  top: 46%;
}

.input-select-avatar:hover {
  color: white;
  background-color: rgba(48, 185, 110, 0.534);
  cursor: pointer;
}