body {
  color:white;
  height:100%;
  width:100%;
  margin: 0px;
}
.container-fondo-register {
  background: url(../images/fondo.jpg) no-repeat repeat center center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
   position: fixed;
}

.container-register {
  display: block;
  margin-top: 5%;
}


.register-container {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  display: block;
  background: rgba(22, 22, 22, 0.486);
  box-shadow: 0 0 8px rgb(15, 15, 15);
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 40px;
  height: 430px;
  margin: 0 auto;
  width: 900px;
  overflow: hidden;
  padding: 50px;
  position: relative;
  text-align: center;
  z-index: 0;
  transition: .8s;
}

.hologram-register {
  left: 0;
  top: 0;
  position: absolute;
  width: 780px;
  height: 530px;
  filter: drop-shadow(0px 5px 5px rgb(41, 24, 40));
  transition: .8s;
}

.input-div-register {
  display: grid;
  grid-template-columns: 0% 100%;
  font-size: 15px;
}

.iF, .iL, .iU, .iE, .iN, .iP, .iRP, .iQ, .iR {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: rgb(255, 255, 255);
  transition: .8s;
}

.iF {
  margin: 1.3% 6%;
}

.iL {
  margin: 1.3% 27%;
}

.iU {
  margin: 6.3% 6%;
}

.iE {
  margin: 6.3% 27%;
}

.iN {
  margin: 11.3% 16%;
}

.iP {
  margin: 16.3% 6%;
}

.iRP {
  margin: 16.3% 27%;
}

.iR {
  margin: 26.3% 16%;
}
.formulario-register {
  width: 50%;
  left: 45%;
  top: 10%;
  position: absolute;
  transition:.8s;
  background-color: black;
}

.input-register-F, 
.input-register-L, 
.input-register-U, 
.input-register-E, 
.input-register-N, 
.input-register-P, 
.input-register-RP, 
.input-register-Q, 
.input-register-R {
  position: absolute;
  outline:none;
  color: rgb(255, 255, 255);
  background-color: rgba(57, 21, 68, 0.534);
  text-align: center;
  border-radius: 10px;
  border: none;
  transition: .8s;
  padding: 12px 30px;
  font-family: 'Fjalla One', sans-serif;
}

.input-register-F {
  left: 50px;
  
}
.input-register-L{
  left: 260px;
}


.input-register-U {
  left: 50px;
  top: 50px;
}

.input-register-E {
  left: 260px;
  top: 50px;
}

.input-register-N {
  left: 150px;
  top: 100px;
}

.input-register-P {
  left: 50px;
  top: 150px;
}

.input-register-RP {
  left: 260px;
  top: 150px;
}

.input-register-Q {
  left: 120px;
  top: 200px;
}

.input-register-R {
  left: 150px;
  top: 250px;
}


.input-register-F:focus, 
.input-register-L:focus, 
.input-register-U:focus, 
.input-register-E:focus, 
.input-register-N:focus, 
.input-register-P:focus, 
.input-register-RP:focus, 
.input-register-Q:focus, 
.input-register-R:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
  border: none;
  border-radius: 10px;
}

.input-register-F:hover, 
.input-register-L:hover, 
.input-register-U:hover, 
.input-register-E:hover, 
.input-register-N:hover, 
.input-register-P:hover, 
.input-register-RP:hover, 
.input-register-Q:hover, 
.input-register-R:hover {
  color: white;
  background-color: rgba(153, 48, 185, 0.534);
}

.input-terms {
  position: absolute;
  left: 110px;
  top: 300px;
}

.label-terms {
  position: absolute;
  left: 130px;
  top: 302px;
  color: white;
  font-size: 10px;
}

.btn-register {
  position: absolute;
  left: 170px;
  top: 330px;
  padding: 10px;
  width: 150px;
  color: rgb(116, 109, 104);
  background: rgba(79, 20, 102, 0.671);
  border: 2px solid rgba(255, 255, 255, 0.342);
  border-radius: 20px;
  cursor: pointer;
  transition: .8s;
  font-family: 'Fjalla One', sans-serif;
}

.btn-register:hover {
  box-shadow: 0 0 10px rgba(246, 224, 255, 0.411);
  color: white;
  background: rgba(105, 7, 143, 0.568);
  border: 2px solid rgba(255, 255, 255, 0.685); 
}

.link-register {
  width: 30%;
  outline:none;
  position: absolute;
  left: 170px;
  top: 380px;
  color: rgb(129, 129, 129);
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
}

.link-register:hover {
  color: rgb(255, 255, 255);
  text-align: center;
}

.ErrorRegister {
  width: 50%;
  position: absolute;
  left: 120px;
  top: 430px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 12px;
  text-shadow: 0 2px 5px rgba(24, 24, 24, 0.904);
  font-family: 'Fjalla One', sans-serif;
}

@media screen and  (max-width: 870px) {
  .hologram-register {
    display: none;
  }

  .register-container {
    width: 600px;
  }

  .formulario-register {
    left: 28%;
  }
}


@media screen and  (max-width: 750px) {
  .hologram-register {
    display: none;
  }

  .formulario-register {
    left: 24%;
  }

  .register-container {
    width: 500px;
  }

  .container-register {
    padding: 3% 0px;
    top: 10%;
  }
}

@media screen and  (max-width: 600px) {
  .hologram-register {
    display: none;
  }

  .register-container {
    width: 260px;
  }

  .formulario-register {
    left: 10%;
  }

  .container-register {
    padding: 20% 0px;
  }
}




  